<div class="section-title mb-0">
    <h4 class="m-0 text-uppercase font-weight-bold">Noticias recientes</h4>
</div>

<div class="bg-white border border-top-0 p-3">
	<% @other_articles.each do |article| %>
		<div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">

		    <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
		        <div class="mb-2">
		            
                    <%= link_to article.category.name, category_path(article.category), class: "badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2", data: { turbo: false } %>
		            <span><small><%= article.created_at.strftime("%d %b, %Y") %></small></span>
		        </div>
		        <%= link_to article.title, article_path(article), class: "h6 m-0 text-secondary text-uppercase font-weight-bold", data: { turbo: false } %>
		    </div>
		</div>
	<% end %>
</div>