<!-- Social Follow Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Nuestras redes</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <a href="https://www.facebook.com/MCNoticiasBolivia" target="_blank" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #39569E;">
                            <i class="fab fa-facebook-f text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">15.000 seguidores</span>
                        </a>
                        <a href="https://www.instagram.com/mcnoticiasbolivia/?igsh=MWptbHVzeXNsN3ljcQ%3D%3D" target="_blank" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #C8359D;">
                            <i class="fab fa-instagram text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">800 Seguidores</span>
                        </a>
                        <a href="https://www.youtube.com/@MCNoticiasBolivia" target="_blank" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #DC472E;">
                            <i class="fab fa-youtube text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">300 Subscriptores</span>
                        </a>
                    </div>
                </div>
                <!-- Social Follow End -->