<div class="container">
	<br>
	<div class="row">
		<div class="col-12 text-center">
			<h3>Información de contacto</h3>			
		</div>
	</div>
	<div class="row">
		<div class="col-12 text-center">
			<p class="font-weight-medium"><i class="fa fa-map-marker-alt mr-2"></i>Edificio Comboni oficina 102 Calle Jordán esquina Av. San Martín</p>
			<p class="font-weight-medium">
				Cochabamba, Bolivia
			</p>
            <p class="font-weight-medium"><i class="fa fa-phone-alt mr-2"></i>
            	<%= link_to "+591 72273881", "tel:+59172273881" %>
        	</p>
            <p class="font-weight-medium"><i class="fa fa-envelope mr-2"></i>
            	<%= link_to "mccomunicacion2022@gmail.com", "mailto:mccomunicacion2022@gmail.com" %>
            </p>            
		</div>
		<div class="col-12">
	        <div class="d-flex justify-content-center">
	            <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="https://whatsapp.com/channel/0029Vb2oAcdGufIqGGfaEq1u" target="_blank"><i class="fab fa-whatsapp"></i></a>
	            <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="https://t.me/MCNoticiasBolivia" target="_blank"><i class="fab fa-telegram"></i></a>
	            <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="https://www.facebook.com/MCNoticiasBolivia" target="_blank"><i class="fab fa-facebook-f"></i></a>
	            <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="ttps://www.instagram.com/mcnoticiasbolivia/?igsh=MWptbHVzeXNsN3ljcQ%3D%3D" target="_blank"><i class="fab fa-instagram"></i></a>
	            <a class="btn btn-lg btn-secondary btn-lg-square" href="https://www.youtube.com/@MCNoticiasBolivia" target="_blank"><i class="fab fa-youtube"></i></a>
			</div>
		</div>
	</div>
</div>

            