<h1>Noticias</h1>

<%= link_to "Crear", new_article_path, class: "btn btn-primary" %>
<br><br>

<div class="row">
  <% @articles.each do |article| %>
    <div class="col-3 admin-article-card">
      <%= render "article_card", article: article %>
    </div>
      
  <% end %>  
</div>

   