<div id="<%= dom_id currency %>">
  <p>
    <strong>Official dolar purchase:</strong>
    <%= currency.official_dolar_purchase %>
  </p>

  <p>
    <strong>Official dolar sell:</strong>
    <%= currency.official_dolar_sell %>
  </p>

  <p>
    <strong>Blue dollar:</strong>
    <%= currency.blue_dollar %>
  </p>

</div>
