<p style="color: green"><%= notice %></p>

<% content_for :title, "Currencies" %>

<h1>Currencies</h1>

<div id="currencies">
  <% @currencies.each do |currency| %>
    <%= render currency %>
    <p>

    </p>
  <% end %>
</div>


