<!-- Footer Start -->
<div class="container-fluid bg-dark pt-5 px-sm-3 px-md-5 mt-5">
    <div class="row py-4">
        <div class="col-lg-3 col-md-6 mb-5">
            <h5 class="mb-4 text-white text-uppercase font-weight-bold">Contáctate</h5>
            <p class="font-weight-medium"><i class="fa fa-map-marker-alt mr-2"></i>Edificio Comboni oficina 102 Calle Jordán esquina Av. San Martín, Cochabamba, Bolivia</p>
            <p class="font-weight-medium"><i class="fa fa-phone-alt mr-2"></i>+591 72273881</p>
            <p class="font-weight-medium"><i class="fa fa-envelope mr-2"></i>mccomunicacion2022@gmail.com</p>
            <h6 class="mt-4 mb-3 text-white text-uppercase font-weight-bold">Síguenos</h6>
            <div class="d-flex justify-content-start">
                <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="https://whatsapp.com/channel/0029Vb2oAcdGufIqGGfaEq1u" target="_blank"><i class="fab fa-whatsapp"></i></a>
                <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="https://t.me/MCNoticiasBolivia" target="_blank"><i class="fab fa-telegram"></i></a>
                <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="https://www.facebook.com/MCNoticiasBolivia" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="ttps://www.instagram.com/mcnoticiasbolivia/?igsh=MWptbHVzeXNsN3ljcQ%3D%3D" target="_blank"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-lg btn-secondary btn-lg-square" href="https://www.youtube.com/@MCNoticiasBolivia" target="_blank"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h5 class="mb-4 text-white text-uppercase font-weight-bold">Noticias populares</h5>
            <% @trendind_articles.each do |article| %>
                <div class="mb-3">
                    <div class="mb-2">
                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href=""><%= article.category.name %></a>
                        <a class="text-body" href=""><small><%= article.created_at.strftime("%d %b, %Y") %></small></a>
                    </div>
                    
                    <%= link_to article.title, article_path(article), class: "small text-body text-uppercase font-weight-medium" %>
                </div>
            <% end %>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h5 class="mb-4 text-white text-uppercase font-weight-bold">Categorías</h5>
            <div class="m-n1">
                <% if !@categories.nil? %>
                    <% @categories.each do |category| %>
                        <%= link_to category.name, category_path(category), class: "btn btn-sm btn-secondary m-1" %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid py-4 px-sm-3 px-md-5" style="background: #111111;">
    <p class="m-0 text-center">&copy; <a href="#">MC Noticias</a>. 
	
	<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
	Diseñado por <a href="https://htmlcodex.com">HTML Codex</a></p>
</div>
<!-- Footer End -->